.logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}

.logo:hover {
  opacity: .7;
}

.header {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 19px 70px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.header_unauthorized {
  background-color: #DDDEE3;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 18px 14px;
  }
}
