.filter {
  padding: 33px 0 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.filter__switch {
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.filter__thumbler {
  position: relative;
  display: block;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #EBEBEB;
  transition: all .5s ease;
}

.filter__thumbler::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: all .5s ease;
}

.filter__hidden-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter__hidden-checkbox:checked + .filter__thumbler {
  background-color: #2BE080;
}

.filter__hidden-checkbox:checked + .filter__thumbler::after {
  transform: translate(16px);
  background-color: #FFF;
}

.filter__title {
  margin: 0;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 400;
}
